@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Josefin+Sans&display=swap');
.porteduboby{
   background-image: url("./back2.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
}
.portedudiv{
    background-color: antiquewhite;
    margin-top:50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.eduname{
   
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.portedudiv:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 100px 5px black;

}
.edufont{
    font-size:15px;
    font-family: 'Josefin Sans', sans-serif;

}
@media only screen and (max-width: 675px) {
    .porteduboby{
        background-image: url("./back2.jpg");
         background-repeat: no-repeat;
         min-height: 100vh;
         background-size: cover;
     }
       
    }